html {
  align-content: center;
  align-items: center;
}

.calculator__keys {
  display: grid;
  color: #3b8587;
  grid-template-columns: 15% 15% 15% 15%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.calculator__display {
  font-size: 30px;
}

button {
  font-size: 24px;
  color: black;
  background-color: #3b8587;
  border-radius: 6px;
  max-width: 100%;
  max-height: auto;
}
