:root {
  --main-bg-color: #3b8587;
  --darker-bg-color: #2f576e;
  --main-text-color: black;
}

html {
  align-content: center;
  align-items: center;
}

.calculator__keys {
  display: grid;
  color: var(--main-bg-color);
  grid-template-columns: 15% 15% 15% 15%;
  /*grid-template-rows: 20% 20% 20% 20% 20%;*/
}

.calculator__display {
  font-size: 30px;
}

button {
  font-size: 24px;
  color: black;
  background-color: var(--main-bg-color);
  border-radius: 6px;
  max-width: 100%;
  max-height: auto;
}
