/*Jordan Maisonneuve 10153260 - B05*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 80%;
}

form input {
  border: 0;
  padding: 10px;
  width: 60%;
  margin-right: .5%;
}

form button {
  width: 15%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-column: 1;
  grid-row: 2;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#userLst {
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-column: 2;
}

#userLst li {
  padding: 5px 10px;
}

#userLst li:nth-child(odd) {
  background: #eee;
}

#userNameDisplay {
  font-size: 24px;
  grid-row: 1;
  padding-top: 10px;
  padding-left: 10px;
  border: 20px;
  border-color: black;
}

.msgScreen {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 5% 80% 15%;
}

.userList {
  grid-column: 2;
  grid-row: 2;
}
