


.calculator__keys {
  display: grid;
  color: lightblue;
  grid-template-columns: 25% 25% 25% 25%;
 grid-template-rows: 20% 20% 20% 20% 20%;
}

.calculator__display {
  font-size: 30px;
}

button {
  font-size: 24px;
  color: black;
  background-color: lightgreen;
  border-radius: 6px;
  max-width: 100%;
  max-height: auto;
}
